body {
    border-style: inset;
    padding: 10px;
    background-color: floralwhite;
}
.firstheading {
    margin: 0;
    height: 10%;
    
}
.logo {
    position: relative;
    width: 50%;
    height: 50%;
    border-radius: 25%;
    
}
.hands {  
    margin-left: 130px;
    width: 100vw - 0px;
    height: 100vh;
    border-radius: 10%;
    border-style: dotted;
}
.donate {
    margin-left: 700px;
    gap: 20px;
}
.product
{
    position: absolute;
    top: 96px;
    margin-left: 635px;
}

.container {
  display: flex;
  align-items: center;
}
.text {
  width: 50%;
  padding-left: 300px;
  margin-right: 100px;
}
.cright
{
    margin-top: 100px;
}
.billion
{
    text-decoration: dotted ;
}
#end {
    margin-left: calc(45%);
}
